* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
}

h3 {
    position: relative;
}

/* Typography */

/* Layout */

.icon {
    position: absolute;
}