* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
}

.input-field-div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.icon {
    position: absolute;
    top: 50px;
    left: 15px;
}

/* Typography */

.input-field-div,
h3 {
    color: hsl(186, 14%, 43%);
}

input,
.btn {
    font-size: 1.5rem;
}

input {
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

.btn {
    color: #fff;
    font-weight: 700;
}

.custom-btn {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
}

.display-costs h3 {
    color: #fff;
    margin: 0;
    font-size: 1rem;
}

.display-costs span {
    color: hsl(186, 14%, 43%);
    margin-bottom: 1em;
}

.display-costs .value {
    color: hsl(172, 67%, 45%);
    font-size: 2rem;
    text-align: right;
}

.reset-btn {
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    text-transform: uppercase;
}

/* Layout */

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

.main {
    background-color: #fff;
    padding: 1em 2em;
    border-radius: 25px;
    margin: 0 auto;
}

/* Percentage buttons */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    background-color: hsl(183, 100%, 15%);
    border: 0;
    padding: .5em 0;
    width: 45%;
    border-radius: 5px;
    margin-bottom: 1em;
}

.custom-btn {
    background-color: hsl(189, 41%, 97%);
    text-align: center;
}

.display-costs {
    margin-top: 2em;
    background-color: hsl(183, 100%, 15%);
    padding: 1.5em 1em;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: start;
}

.display-costs span {
    grid-column: 1 / span 1;
    grid-row: span 1;
}

.value {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.value-two {
    grid-row: 3 / span 2;
}

.reset-btn {
    grid-column: span 2;
}


/* Reset button */
.reset-btn {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: .3em;
    background-color: hsl(172, 67%, 45%);
    margin-top: .5em;
    margin-bottom: 0;
    font-size: 1.5rem;
}

/* Inputs */
input {
    width: 100%;
    padding: .5em 1em;
    text-align: right;
    background-color: hsl(189, 41%, 97%);
    border: 0;
    border-radius: 5px;
}

/* TO remove the up down arrow keys from the number input buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


@media (min-width: 700px) {

    .container,
    .main {
        max-width: 800px;
    }

    .main {
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .form,
    .display-costs {
        width: 45%;
    }

    .display-costs {
        margin: 0;
        padding: 3em;
        padding-bottom: 2em;
    }

    .btn {
        max-width: 100px;
    }

    .reset-btn {
        font-size: 1rem;
        padding: 1em;
        margin-top: auto;
    }

}